/**
 * Colors
 **/

* {
    background:     #1a1818FF; /*black*/
    background-alt: #353535FF; /*dark grey*/
    foreground:     #EBDBB2FF; /*white*/
    selected-b:     #83A598FF; /*blue*/
    active:         #B8BB26FF; /*green*/
    urgent:         #FB4934FF; /*red*/
    selected:       #FABD2FFF; /*yellow*/
}
