@define-color bg #1d1f21;
@define-color fg #c5c8c6;

@define-color tbg     rgba(29, 31, 33, 0.6);
@define-color atbg    rgba(29, 31, 33, 0.8);

@define-color black   #1d1f21;
@define-color red     #cc6666;
@define-color green   #b5bd68;
@define-color yellow  #f0c674;
@define-color blue    #81a2be;
@define-color magenta #b294bb;
@define-color cyan    #8abeb7;
@define-color white   #c5c8c6;
@define-color gray    #969896;
@define-color dGray   #373b41;

@define-color bright-red     #d54e53;
@define-color bright-green   #b9ca4a;
@define-color bright-yellow  #e7c547;
@define-color bright-blue    #7aa6da;
@define-color bright-magenta #c397d8;
@define-color bright-cyan    #70c0b1;
@define-color bright-white   #eaeaea;

