@import url("colors.css");

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  border: none;
  padding: 0;
  margin: 0;
}

#waybar {
  border-radius: 0;
  margin: 0;
  color: @fg1;
  background-color: transparent;
}

.modules-right {
  border-radius: 0 0 0 10px;
  background: @bg0;
}

.modules-center {
  padding: 0 15px;
  border-radius: 0 0 10px 10px;
  background: @bg0;
}

.modules-left {
  border-radius: 0 0 10px 0;
  background: @bg0;
}

#workspaces button {
  background-color: transparent;
  padding: 0 2px;
  color: @fg1;
  border-radius: 10px 0 10px 0;
}
#workspaces button.empty {
  color: @gray;
}
#workspaces button.focused {
  background-color: @bg2;
  color: @fg1;
}
#workspaces button.urgent {
  background-color: @red2;
}

#temperature.critical {
  color: @red2;
}

#workspaces {
  padding: 0 2px;
  border-right: 2px solid @gray;
  border-bottom-right-radius: 10px;
  border-left: 2px solid @gray;
  border-top-left-radius: 10px;
}

#language {
  color: @fg1;
  border-right: 2px solid @gray;
  border-bottom-right-radius: 10px;
}

#custom-menu {
  padding: 0 10px;
  color: @blue;
}

#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  border-bottom: 2px solid @gray;
  margin: 0 2px;
  padding: 0 12px;
}

#bluetooth {
  color: @gray;
  border-left: 2px solid @gray;
  border-bottom-left-radius: 10px;
}
#bluetooth.on {
  color: @fg;
  border-left: 2px solid @blue;
  border-bottom-left-radius: 10px;
}
#bluetooth.connected {
  color: @blue;
  border-left: 2px solid @blue;
  border-bottom-left-radius: 10px;
}

#wireplumber, #cpu, #tray {
  border-left: 2px solid @gray;
  border-bottom-left-radius: 10px;
}

#language,
#wireplumber,
#temperature,
#cpu,
#bluetooth,
#tray {
  padding: 0px 8px;
}
