@import url("colors.css");

/* Базові стилі */
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  border: none;
  padding: 0;
  margin: 0;
}

/* Waybar */
#waybar {
  border-radius: 0;
  margin: 0;
  color: @fg;
  background-color: transparent;
}

/* Плавний перехід для всіх елементів */
#waybar *,
#waybar button {
  transition: all 0.2s ease;
}

/* Модулі */
.modules-left,
.modules-center,
.modules-right {
  background: @bg;
  border-radius: 0;
}

.modules-left { border-radius: 0 0 10px 0; }
.modules-center { padding: 0 15px; border-radius: 0 0 10px 10px; }
.modules-right { border-radius: 0 0 0 10px; }

/* Кнопки workspace */
#workspaces {
  padding: 0 2px;
  border-left: 2px solid @dGray;
  border-right: 2px solid @dGray;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#workspaces button {
  background-color: transparent;
  padding: 0 2px;
  color: @fg;
  border-radius: 10px 0 10px 0;
}

#workspaces button.empty { color: @gray; }
#workspaces button.focused { background-color: @bg2; color: @fg; }
#workspaces button.urgent { background-color: @red; }

/* Hover ефект для всіх кнопок power/quit/lock/reboot і меню/notify */

#custom-menu:hover,
#custom-notify:hover {
  background-color: @dGray;
}

#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover {
  border-bottom: 2px solid @gray;
}

#custom-menu:hover { border-radius: 0 0 10px 0; }
#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-notify:hover { border-radius: 0 0 0 10px; }
#tray:hover { border-radius: 0 10px 0 10px; }

/* Padding для модулів */
#language,
#wireplumber,
#temperature,
#cpu,
#bluetooth,
#tray {
  padding: 0 8px;
}

/* Bluetooth */
#bluetooth {
  color: @dGray;
  border-left: 2px solid @dGray;
  border-bottom-left-radius: 10px;
}

#bluetooth.on { color: @fg; border-left-color: @blue; }
#bluetooth.connected { color: @blue; border-left-color: @blue; }

/* Кнопки power/quit/lock/reboot */
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 0 10px;
  margin-right: 4px;
}

/* Notify */
#custom-notify {
  padding: 0 10px;
  margin-right: 2px;
  color: @fg;
}

#custom-notify.dnd-none { color: @red; }

/* Інші модулі */
#temperature.critical { color: @red; }
#language { color: @fg1; border-right: 2px solid @gray; border-bottom-right-radius: 10px; }
#custom-menu { padding: 0 10px; margin: 0 2px; color: @blue; }
#wireplumber,
#cpu,
#tray { border-left: 2px solid @gray; border-bottom-left-radius: 10px; }
#bluetooth, #tray { border-left: 2px solid @gray; border-bottom-left-radius: 10px; }

