@define-color bg      #282828;
@define-color brown   #302b2a;
@define-color crust   #1a1818;
@define-color black   #000000;
@define-color fg      #ebdbb2;
@define-color red     #cc241d;
@define-color green   #98971a;
@define-color yellow  #d79921;
@define-color blue    #458588;
@define-color purple  #b16286;
@define-color aqua    #689d6a;
@define-color orange  #d65d0e;
@define-color gray    #a89984;

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  border: none;
  padding: 0;
  margin: 0;
}

#waybar {
  border-radius: 0;
  margin: 0;
  color: @fg;
  background-color: @crust;
}

.modules-right {
  padding-left: 5px;
  border-radius: 0 0 0 10px;
  background: @black;
}

.modules-center {
  padding: 0 15px;
  border-radius: 0 0 10px 10px;
  background: @black;
}

.modules-left {
  padding-right: 5px;
  border-radius: 0 0 10px 0;
  background: @black;
}

#workspaces button {
  background-color: transparent;
  padding: 0 5px;
  color: @yellow;
  border-radius: 10px 0 10px 0;
}
#workspaces button.empty {
  color: @fg;
}
#workspaces button.focused {
  background-color: @brown;
  color: @yellow;
}
#workspaces button.urgent {
  background-color: @red;
}

#temperature.critical {
  color: @red;
}

#workspaces {
  padding: 0 2px;
  border-right: 2px solid @crust;
  border-bottom-right-radius: 10px;
}

#custom-menu {
  padding: 0 10px;
  color: @blue;
}

#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 0 12px;
}

#bluetooth {
  color: @gray;
  border-left: 2px solid @crust;
  border-bottom-left-radius: 10px;
}
#bluetooth.on {
  color: @fg;
  border-left: 2px solid @blue;
  border-bottom-left-radius: 10px;
}
#bluetooth.connected {
  color: @blue;
  border-left: 2px solid @blue;
  border-bottom-left-radius: 10px;
}

#wireplumber {
  border-left: 2px solid @yellow;
  border-bottom-left-radius: 10px;
}

#cpu {
  border-left: 2px solid @red;
  border-bottom-left-radius: 10px;
}

#language,
#wireplumber,
#temperature,
#cpu,
#bluetooth,
#tray {
  padding: 0px 8px;
}
