@import url("colors.css");
/* For border radius: 1) top-left, 2) top-right 3) bot-right, 4) bot-left */

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  border: none;
  padding: 0;
  margin: 0;
}


/* Waybar */
#waybar {
  border-radius: 0;
  margin: 0;
  color: @fg;
  background-color: transparent;
}

/* Animations */
#waybar *,
#waybar button {
  transition: all 0.2s ease;
}


/* Modules */
.modules-left,
.modules-center,
.modules-right {
  background: @bg;
}

.modules-left { border-radius: 0 0 10px 0; border-right: 2px solid @dGray; }
.modules-center { padding: 0 15px; border-radius: 0 0 10px 10px; }
.modules-right { border-radius: 0 0 0 10px; border-left: 2px solid @dGray;}


/* Workspaces */
#workspaces {
  border-left: 2px solid @dGray;
  border-right: 2px solid @dGray;
  border-radius: 10px 0 10px 0;
}

#workspaces button {
  background-color: transparent;
  padding: 0 2px;
  color: @fg;
  border-radius: 10px 0 10px 0;
}

#workspaces button.empty { color: @dGray; }
#workspaces button.focused { color: @fg; }
#workspaces button.urgent { background-color: @red; }


/* Hover effect */
#custom-menu:hover,
#custom-notify:hover {
  background-color: @dGray;
}

#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover {
  border-bottom: 2px solid @gray;
}

#custom-menu:hover { border-radius: 0 0 10px 0; }
#custom-power:hover, #custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-notify:hover { border-radius: 0 0 0 10px; }
#tray:hover { border-radius: 0 10px 0 10px; }


/* Padding */
#language,
#wireplumber,
#temperature,
#cpu,
#bluetooth,
#tray {
  padding: 0 8px;
}


/* Bluetooth */
#bluetooth {
  color: @dGray;
  border-left: 2px solid @dGray;
  border-radius: 0 0 0 10px;
}
#bluetooth.on { 
  color: @fg;
}
#bluetooth.connected {
  color: @blue;
}


/* Powermenu buttons */
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 0 10px;
  margin-right: 4px;
}


/* Notify */
#custom-notify {
  padding: 0 10px;
  margin-right: 2px;
  color: @fg;
}

#custom-notify.dnd-none { color: @red; }

/* Other */
#temperature.critical {
  color: @red;
}
#custom-menu {
  padding: 0 10px;
  margin: 0 2px;
  color: @blue;
}
#wireplumber, #cpu {
  border-radius: 0 0 0 10px; 
  border-left: 2px solid @dGray;
}

